@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--white); 
    
}
*,*:before,*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button{
    outline: none;
}
input{
    line-height: normal;
}
label,
button{
    cursor: pointer;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
* a {
    text-decoration: none;
}
:root {
    --primary: #3A444E;
    --secondary: #343A40;
    --purple: #727CF5;
    --pink: #E0565B;
    --green: #3F3F1A;
    --grey: #828682;
    --yellow: #FEC749;
    --white: #FAFAFC;
}



/* Flexible */
.flexible {
    display: flex;
    justify-content: center;
    position: relative;
}
.flexible-container {
    background: url('https://airbnb-ish.vercel.app/images/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 75rem;
    height: 25rem;
    border-radius: 15px;
    color: var(--green);
    padding-left: 3.4375rem;
}
.flexible-container h1 {
    font-weight: 900;
    margin-top: 7.5rem;
}
Button.flexible__button {
    border-radius: 15px;
    background-color: var(--green);
    color: var(--white);
}
.flexible button {
    border-radius: 15px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    width: 9.7rem;
    height: 3.75rem;
}
.flexible button.btn.btn-light.btn-border:hover {
    box-shadow: 0 0 0 3px var(--green);
    transition: 0.15s;
    color: var(--white);

}
.flexible button.btn.btn-light:hover {
    background-color: var(--green);
}