@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--white); 
    
}
*,*:before,*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button{
    outline: none;
}
input{
    line-height: normal;
}
label,
button{
    cursor: pointer;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
* a {
    text-decoration: none;
}
:root {
    --primary: #3A444E;
    --secondary: #343A40;
    --purple: #727CF5;
    --pink: #E0565B;
    --green: #3F3F1A;
    --grey: #828682;
    --yellow: #FEC749;
    --white: #FAFAFC;
    --lightGrey: #b4b6b4;
}



/* Footer items */
.footer-item {
    position: relative;

}
.footer-item__headline {
    color: var(--primary);
    display: flex;
    flex-flow: column;
}
.footer__title ul {
    display: flex;
    justify-content: space-around;
    
    flex-flow: column;
}
.footer-item__headline h5 {
    font-weight: 700;
}
.footer__title ul li {
    margin-top: 0.5rem;
}

/* Footer */
.footer {
    position: relative;
    top: 38.5rem;
    height: 26rem;
    background-color: #EFEFF5;
    border-top: 1px solid #CFCFD4;
    display: flex;
    flex-flow: column;
    justify-content: center;
} 
.footer-container {
    margin: 0;
}
.footer .footer-container .FooterItem  {
    display: flex;
    justify-content: center;
    gap: 11rem;
}

.footer__dash {
    width: 100%;
    height: 2rem;
    padding-top: 30px;
    /* width: 80%; */
}

.footer__dash--container {
    position: relative;
    margin-top: 2rem;
    width: 100%;
}

.footer__dash--container ul {
    display: flex;
    justify-content: space-around;
}

li.footer__dash--headline div {
    display: flex;
    gap: 20px;
}
li.footer__dash--headline div a:hover {
    color: var(--pink);
    text-decoration: underline;
}
li.footer__dash--headline div a {
    text-decoration: none;
    color: var(--primary);
}
li.footer__dash--contact div {
    display: flex;
    gap: 20px;
}
.footer__dash--container ul li {
    float: left;
    font-size: 1.125rem;
}

.footer__dash i {
    color: var(--primary);
}
.footer__dash span {
    color: var(--primary);
}
.footer__dash--contact {
    color: var(--primary);
}

.footer__dash--container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 80%;
    left: 10%;
    margin-bottom: 30px;
    border-top: 1.5px solid var(--lightGrey);
}
.footer__change-color {
    cursor: pointer;
}
