@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--white); 
    
}
*,*:before,*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button{
    outline: none;
}
input{
    line-height: normal;
}
label,
button{
    cursor: pointer;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
* a {
    text-decoration: none;
}
:root {
    --primary: #3A444E;
    --secondary: #343A40;
    --purple: #727CF5;
    --pink: #E0565B;
    --green: #3F3F1A;
    --grey: #828682;
    --yellow: #FEC749;
    --white: #FAFAFC;
}

/* headline */

.headline-container {
    display: flex;
    position: relative;
    top: 6rem;
    padding-left: 9.7rem;   
    position: relative;    
    z-index: 1;
}
.headline-container .headline h1 {
    font-size: 3.75rem;
    font-weight: 800;
    
}

.headline-container .btn.btn-light {
    margin-top: 1rem;
    position: absolute;
    width: 11rem;
    height: 3.75rem;
    border-radius: 1rem;    
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
}
.headline-container .btn.btn-light:hover {
    background-color: none;
    box-shadow:  0.5rem 0.5rem var(--pink);
    transform: translate(-10px, -10px);
    border: 1px solid var(--pink);
}
