

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url('https://airbnb-ish.vercel.app/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 46rem;
  object-fit: cover;
  position: relative;
}

.Flexible--page {
  position: relative;
  top: 30rem;
}